
.page {
    height: 100%;
}

.page-body {
    margin: 0;
    font-family: sans-serif;
    background: url(../img/background.png);
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 51px;
}

.container {
    display: flex;
    width: 1030px;
    margin: 0 auto;
}

.header-logo {
    text-decoration: none;
    display: flex;
}

.contacts {
    display: block;
}

.castle {
    border: none;
    display: flex;
    width: 53px;
    height: 51px;
    padding-right: 8px;
}

.castle2 {
    display: none;
    border: none;
    width: 53px;
    height: 51px;
    padding-right: 8px;
}

.logo-text {
    margin: 0;
    text-transform: uppercase;
}

.logo-text-big {
    margin: 0;
    font-weight: bold;
    font-size: 29px;
    align-items: center;
    color: #FFFFFF;
}

.logo-text-small {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    color: #FFFFFF;
}

.mailto {
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #FFFFFF;
}

.telephone {
    margin-top: 19px;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #FFFFFF;
}

.main {
    margin-top: 17px;
    width: 100%;
}

.tour-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 37px 61px;
}
.tour-item{
    margin: 0;
    width: 300px;
}
.item-text {
    margin: 0;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.item-href{
    margin: 0;
    text-decoration: none;
    position: relative;
    display: block;
}
.item-img {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 220px;
}

.footer {
    width: 100%;
    margin-top: 49px;
    margin-bottom: 15px;
    display: flex;
}

.footer-text {
   width: 100%;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}

.header-logo:hover p{
    color: #F26522;
}
.header-logo:hover .castle2{
    display: flex;
}
.header-logo:hover .castle{
    display: none;
}
.mailto:hover {
    color: #F26522;
}
.telephone:hover {
    color: #F26522;
}
.item-href:hover > p{
    color: #F26522;
}

.item-href-price{
   display: flex;
}

.item-href:hover .billet{
    transition-property: opacity;
    transition: opacity 1.2s;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.billet{
    margin: 0;
    width: 272px;
    padding: 7px 12px 10px 16px;
    background-color: #F26522;
    position: absolute;
    top: 164px;
    left: 0px;
    opacity: 0;
}

.billet-price-details{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.billet-from{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-bottom: 8px;
}
.billet-price{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    color: #FFFFFF;

}
.billet-details{
    margin: 0;
    justify-items: flex-end;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    align-items: flex-end;
    color: #FFFFFF;
    padding-top: 5px;
}
.billet-details::after{
    content: ">";
    padding-left: 16px;
}